@charset "utf-8"; /* 디자인 호텔스 main4-1 (Blog) */

@import url("../../../../css/fonts.css");
@import url("../../../../css/reset.css");
@import url("../../../../css/headerLib.css");
@import url("../../../../css/footerLib.css");

/*------------------------------------------------------------------------------------------------------*/
	.header-right-nav-wrap>ul>li:nth-child(4)>a{border-bottom:1px solid rgba(0,0,0,0.5);}
	#fixed-side-wrap{z-index:3;position:absolute;top:88px;left:0;width:100%;height:auto;background:#ebebe6;box-shadow:none;}
	#fixed-side-wrap.addFixedSide{box-shadow:none;}
	
/*------------------------------------------------------------------------------------------------------*/	
	#main{z-index:2;position:relative;width:100%;padding-top:70px;background:#f7f7f4;overflow:hidden;}
	#main>div{width:100%;max-width:1115px;margin:0 auto;padding:0 12.5px;box-sizing:border-box;}
	#main>div>div{width:100%;}
		/* 히든 타이틀 */
		.main4-title-wrap{display:none;text-align:center;padding:20px 13.5px;}
		.main4-title-wrap>h2{width:100%;height:35px;font-size:28px;color:#000;font-weight:600;padding-bottom:5px;line-height:35px;font-family:'Nanum Myeongjo';}
		.main4-title-wrap>p {font-size:12px;color:#1a1a1a;line-height:16px;font-weight:100;}
		.main4-title-wrap>p>a{display:inline-block;font-size:12px;color:#ff482e;font-weight:100;}
		
		/* 메인4 네비버튼 */
		.main4-navBtn-wrap{padding-top:50px;}
		.main4-navBtn-wrap>div{width:100%;border-top:1px solid #c7c7c7;border-bottom:1px solid #c7c7c7;text-align:center;}
		.main4-navBtn-wrap>div>ul{display:inline-block;}
		.main4-navBtn-wrap>div>ul>li{position:relative;float:left;padding:0 5px;}
		.main4-navBtn-wrap>div>ul>li>span{display:block;}
		.main4-navBtn-wrap>div>ul>li>span>a{display:block;font-size:14px;color:#000;font-weight:600;padding:15px;}
		.main4-navBtn-wrap>div>ul>li>span>i{position:absolute;top:0;right:0;display:inline-block;width:1px;height:18.5px;margin:15px 0;background:#c7c7c7;}
		.main4-navBtn-wrap>div>ul>li>span>i:nth-child(2){left:0;}
		
		.main4-navBtn-wrap>div>ul>li:hover{background:#ebebe6;}
		.main4-navBtn-wrap>div>ul>li:hover>span>i{display:none;}
		.main4-navBtn-wrap>div>ul>li.addMain4NavBtn{background:#000;}
		.main4-navBtn-wrap>div>ul>li.addMain4NavBtn>span>a{color:#fff;}
		.main4-navBtn-wrap>div>ul>li.addMain4NavBtn>span>i{display:none;}
		
		.main4-navBtn-wrap>div>ul>li>span>a:focus{color:#ff482e;}
		
		/* 메인4 블로그 좌우 컨텐츠*/
		.blog-content-wrap{padding:50px 0;}
		.blog-content-wrap>ul{width:100%;}
		.blog-content-wrap>ul>li:nth-child(1){float:left;width:70%;padding-right:12.5px;box-sizing:border-box;}
		.blog-content-wrap>ul>li:nth-child(2){float:right;width:30%;padding-left:12.5px;box-sizing:border-box;}
			/* 좌측 메인 컨텐츠 */
			.blog-content-left-wrap{width:100%;}
			.blog-content-left-wrap>li{width:100%;padding-bottom:50px;}
			.blog-content-left-wrap>li>ul{width:100%;}
			.blog-content-left-wrap>li>ul>li{width:100%;font-family:'Nanum Myeongjo';}
			.blog-content-left-wrap>li>ul>li>h2{padding-bottom:30px;}
			.blog-content-left-wrap>li>ul>li>h2>a{display:inline-block;font-size:32px;color:#1a1a1a;font-weight:600;line-height:130%;}
			.blog-content-left-wrap>li>ul>li>h2>a:hover{color:#686868;}
			.blog-content-left-wrap>li>ul>li>h2>a:focus{color:#686868;}
			.blog-content-left-wrap>li>ul>li>a{display:block;background:#000;}
			.blog-content-left-wrap>li>ul>li>a>img{width:100%;transition:all 0.3s;}
			.blog-content-left-wrap>li>ul>li>a:hover>img{opacity:0.8;transition:all 0.3s;}
			.blog-content-left-wrap>li>ul>li>a:focus>img{opacity:0.8;transition:all 0.3s;}
			.blog-content-left-wrap>li>ul>li>span{display:block;padding:25px 0;}
			.blog-content-left-wrap>li>ul>li>span>strong{display:block;font-size:18px;color:#1a1a1a;font-weight:600;line-height:150%;}
			.blog-content-left-wrap>li>ul>li>span>strong>a{color:#1a1a1a;font-style:italic;border-bottom:1px solid #c33;}
			.blog-content-left-wrap>li>ul>li>span>strong>a:hover{color:#686868;}
			.blog-content-left-wrap>li>ul>li>span>strong>a:focus{color:#686868;}
			.blog-content-left-wrap>li>ul>li>small{font-size:12px;color:#888;font-family:'arial';}
			.blog-content-left-wrap>li>ul>li>i{display:block;width:15px;height:1px;background:#888;margin-top:10px;}
			/* 우측 서브 컨텐츠 */
			.blog-content-right-wrap{width:100%;}
			.blog-content-right-wrap>li{width:100%;}
			.blog-content-right-wrap>li>h3{display:none;font-size:18px;color:#000;margin:30px 0;line-height:25px;border-bottom:1px solid #ff4a2b;font-weight:600;text-align:center;font-family:'Nanum Myeongjo';}
			.blog-content-right-wrap>li>ul{padding:50px;margin-bottom:25px;background:#ebebe6;box-sizing:border-box;}
		
				.blog-content-right-arrow-1{width:100%;}
				.blog-content-right-arrow-1>li{padding:8px 0;border-top:1px solid #cbcbc5;}
				.blog-content-right-arrow-1>li:last-child{border-bottom:1px solid #cbcbc5;}
				.blog-content-right-arrow-1>li>a{font-size:13px;color:#000;}
				.blog-content-right-arrow-1>li:hover>a{color:#ff482e;}
				.blog-content-right-arrow-1>li>a:focus{color:#ff482e;}
		
				.blog-content-right-arrow-2-5{width:100%;}
				.blog-content-right-arrow-2-5>li{width:100%;text-align:left;}
				.blog-content-right-arrow-2-5>li>h4{font-size:13px;color:#000;line-height:150%;}
				.blog-content-right-arrow-2-5>li>h5{padding:5px 0 20px 0;}
				.blog-content-right-arrow-2-5>li>h5>a{font-size:13px;color:#ff482e;}
				.blog-content-right-arrow-2-5>li>h5>a:hover{color:#686868;}
				.blog-content-right-arrow-2-5>li>h5>a:focus{color:#686868;}
				.blog-content-right-arrow-2-5>li>span{display:block;}
				.blog-content-right-arrow-2-5>li>span>a{display:block;}
				.blog-content-right-arrow-2-5>li>span>a>img{width:100%;}
		
				.blog-content-right-arrow-3{width:100%;}
				.blog-content-right-arrow-3>li{width:100%;padding-bottom:25px;}
				.blog-content-right-arrow-3>li:last-child{padding:0;}
				.blog-content-right-arrow-3>li>span{display:block;font-family:'Nanum Myeongjo';}
				.blog-content-right-arrow-3>li>span>img{width:100%;}
				.blog-content-right-arrow-3>li>span>a{display:block;width:85%;font-size:18px;color:#000;font-weight:600;line-height:160%;padding-top:20px;text-align:left;}
		
				.blog-content-right-arrow-4{width:100%;}
				.blog-content-right-arrow-4>li{width:100%;}
				.blog-content-right-arrow-4>li>div{width:100%;}
				.blog-content-right-arrow-4>li>div input{float:left;color:#686868;border:1px solid #d1d1d1;width:83.6829837%;height:35px;padding:10px;box-sizing:border-box;background:#fff;}
				.blog-content-right-arrow-4>li>div>span{float:right;display:block;width:16.3170163%;height:35px;}
				.blog-content-right-arrow-4>li>div>span>a{display:block;width:100%;height:100%;background:#000 url(../img/icon-search-wh.png) no-repeat 50% 50%;background-size:20px;text-align:center;}
				.blog-content-right-arrow-4>li>div>span>a:hover{background-color:#36b;}
				.blog-content-right-arrow-4>li>div>span>a:focus{background-color:#36b;}
			
		/* 하단 폼태그 */
		.main4-input-wrap{padding:0 13.5px 35px 13.5px;font-family:'Nanum Myeongjo';text-align:center;}	
		.main4-input-wrap>ul{width:100%;}	
		.main4-input-wrap>ul>li>h2{font-size:29px;color:#000;font-weight:600;line-height:140%;padding-bottom:30px;}	
			
			.input-wrap{width:100%;max-width:530px;margin:0 auto;box-sizing:border-box;}		
			.input-wrap>li{width:100%;}		
			
			/* 인풋 박스 */
			.inputBox div input{float:left;display:block;width:75%;height:48px;padding:15px;background:#f7f7f4;border:1px solid #e1e1e1;box-sizing:border-box;outline:0;}		
			.inputBox>span{float:left;display:block;width:25%;height:48px;}		
			.inputBox>span>a{display:block;width:100%;height:100%;padding:15px 20px;font-size:13px;color:#000;font-weight:600;background:#f7f7f4;border:1px solid #e1e1e1;border-left:0;box-sizing:border-box;transition:all 0.3s;}		
			.inputBox>span>a:hover{color:#fff;background:#222;border:1px solid #222;border-left:0;transition:all 0.3s;}		
			.inputBox>span>a:focus{color:#fff;background:#222;border:1px solid #222;border-left:0;transition:all 0.3s;}		
			
			/* 체크 박스 */
			.checkBtn-wrap>label{display:block;text-align:left;padding-top:30px;}		
			.checkBtn-wrap>label>span:nth-child(1){display:inline-block;width:18px;height:18px;border:1px solid #e1e1e1;background:#f7f7f4;}		
			.checkBtn-wrap>label>span:nth-child(1)>a{display:block;width:100%;height:100%;background:0;}		
			.checkBtn-wrap>label>span:nth-child(1)>a.addCheckBtn{background:url(../img/icon-checkmark.png) no-repeat 50% 50%;}		
			.checkBtn-wrap>label>span:nth-child(2){display:inline-block;padding-left:5px;cursor:pointer;}		
			.checkBtn-wrap>label>span:nth-child(2)>i{display:inline-block;font-size:12px;color:#000;font-weight:500;}		
			.checkBtn-wrap>label>span:nth-child(2)>a{display:inline-block;font-size:12px;color:#000;font-weight:500;border-bottom:1px solid #333;}		

			/* 에러 박스 */
			.error-wrap{display:none;padding-top:8px;}
			.error-wrap>p{font-size:12px;color:#bf883b;text-align:left;font-family:'arial';text-indent:2px;}
			
/*------------------------------------------------------------------------------------------------------*/			
	/* 우측 sns 고정바 */
	#fixed-sns-wrap{z-index:3;position:fixed;bottom:50px;right:-100%;width:auto;height:auto;background:#cbcbc5;}
	#fixed-sns-wrap>ul{width:100%;}
	#fixed-sns-wrap>ul>li{width:100%;}
	#fixed-sns-wrap>ul>li>a{display:block;width:48px;height:20px;padding:14px 0;text-align:center;}
	
	#fixed-sns-wrap>ul>li:nth-child(1)>a{background:url(../img/icon-mail-wh.png)     no-repeat 50% 50%;background-size:20px;}
	#fixed-sns-wrap>ul>li:nth-child(2)>a{background:url(../img/icon-facebook-wh.png) no-repeat 50% 50%;background-size:20px;}
	#fixed-sns-wrap>ul>li:nth-child(3)>a{background:url(../img/icon-insta-wh.png)    no-repeat 50% 50%;background-size:20px;}
	#fixed-sns-wrap>ul>li:nth-child(4)>a{background:url(../img/icon-twitter-wh.png)  no-repeat 50% 50%;background-size:20px;}
	
	
	#fixed-sns-wrap>ul>li>a:hover{background-color:#b6b6b6;}
	#fixed-sns-wrap>ul>li>a:focus{background-color:#b6b6b6;}
	
/*------------------------------------------------------------------------------------------------------*/
	/* 모달창 */
	#modal-login-wrap{display:none;z-index:5;position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(255,255,255,0.8);text-align:center;overflow-y:scroll;}
	#modal-login-wrap>div{position:relative;display:inline-block;width:430px;padding:20px;background:#fff;box-shadow:0 0 2px 1px rgba(0,0,0,0.3);box-sizing:border-box;}
	#modal-login-wrap>div>ul{width:100%;}
	#modal-login-wrap>div>ul>li{width:100%;text-align:left;}
	#modal-login-wrap>div>ul>li>h4{font-size:16px;color:#222;font-weight:600;font-family:'Nanum Myeongjo';padding-bottom:20px;text-align:center;}
	#modal-login-wrap>div>ul>li>span{display:inline-block;line-height:100%;padding-top:20px;margin-left:5px;}
	#modal-login-wrap>div>ul>li>span>i{display:inline-block;font-size:11px;color:#222;}
	#modal-login-wrap>div>ul>li>span>a{display:inline-block;font-size:11px;color:#a96c16;text-decoration:underline;}
		/* 로그인 모달 */
		.modal-input-wrap{position:relative;padding:40px;background:#f7f7f4;}
		.modal-input-wrap>li{padding-bottom:25px;text-align:left;}
		.modal-input-wrap>li>label{display:inline-block;font-size:13px;color:#222;font-weight:600;padding-bottom:10px;}
		.modal-input-wrap>li>a{float:right;display:inline-block;font-size:13px;color:#a96c16;padding-bottom:10px;}
		.modal-input-wrap>li input{display:block;width:100%;padding:15px;box-sizing:border-box;box-shadow:1px 2px 2px rgba(0,0,0,0.1);}
		.modal-input-wrap>li>span{position:absolute;bottom:0;right:0;display:inline-block;}
		.modal-input-wrap>li>span>a{display:block;font-size:13px;color:#fff;font-weight:600;padding:10px 25px;background:#222;}
		
		/* 닫기버튼 */
		.modal-closeBtn-wrap{position:absolute;top:0;right:0;width:35px;height:35px;background:#4e4e4e;}
		.modal-closeBtn-wrap>a{display:block;width:100%;height:100%;overflow:hidden;}
		.modal-closeBtn-wrap>a>i{display:block;font-size:35px;color:#fff;}
			
/*--------------------------------------The end----------------------------------------------------------------*/